<h2>🎵 Guess the Chorus 🎵</h2>

<div class="chorus-display">
  <span *ngFor="let word of maskedChorus" class="word">{{ word }}</span>
</div>

<div class="input-area">
  <input [(ngModel)]="guess" placeholder="Enter a word" (keyup.enter)="submitGuess()" />
  <button (click)="submitGuess()">Guess</button>
  <button (click)="loadRandomChorus()">🔁 New Chorus</button>
</div>

<div class="guess-list" *ngIf="guessedWords.size > 0">
  <h3>Guessed Words ({{ guessedWords.size }}):</h3>
  <div class="guess-tags">
    <span *ngFor="let word of sortedGuesses" class="guess-tag">
      {{ word }}
    </span>
  </div>
</div>

